.toolbar-palette {
    border-radius: 12px;
    background-color: rgba(140, 140, 140, 0.95);
    position: fixed;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    left: 50%;
    transform: translateX(-55%);
    bottom: 5%;
    border-width: 1px;
    border-color: darkgray;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    flex-flow: row nowrap;
    margin-inline: auto;
}