.btn {
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.40);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.active {
    color: rgba(255, 255, 255, 0.80);
}
